.example {font-style: italic; color: red; }
.confirm {font-style: italic; color: red; }
section.section1 {background-color: #FFFFCC; visibility: hidden;}
section.section2 {background-color: #DCDCDC; visibility: hidden;}
section.section3 {background-color: #FFFFCC; visibility: hidden;}
body {
    width: 600px;
    align-content: center;
}